#container{
    width:100%;
    margin: auto;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 10px;
}

#container a:hover{
    color: white;
    text-decoration: none;
    background-color: teal;
}

#membersContainer{
    width:25%;
    box-sizing: border-box;
    padding: 1em;
    float: left;
}

.memberContainer{
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #CCCCCC;
}

.memberContainer img{
    width: 25%;
    margin-right: 5px;
}

.memberContainer img, h6{
    display: inline-block;
}

#eventsList{
    width:75%;
    box-sizing: border-box;
    padding: 1em;
    float: right;
}

.eventContainer{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #CCCCCC;
    margin-top: 15px;
}

.eventDetailsContainer{
    box-sizing: border-box;
    width: 60%;
    padding: 5px;
    margin: auto;
}

.locationDetailsContainer{
    width: 40%;
    box-sizing: border-box;
    padding: 5px;
    margin: auto;
}

