header, footer{
    clear: both;
}

#searchBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

input[name="userSearch"]{
    box-sizing: border-box;
    width: 50%;
    padding: 7px;
    margin-right: 5px;
}

input[type="button"]{
    box-sizing: border-box;
    border: none;
    background-color: lightseagreen;
    color: white;
    padding: 10px;
    width: 100px;
}

input[type="button"]:hover{
    background-color: teal;
}

#userListContainer{
    width: 100%;
    min-height: 80vh;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
}

.listItem{
    margin: 10px;
    width:50%;
    height: 5vh;
    background-color: #BBBBBB;
}